body {
   background-image: url(../../Images/Background.png);
   background-repeat: no-repeat;
}

#logOutButton {
   margin-left: 700px;
   color: white;
   font-family:cursive;
}

h3 {
   font-family: 'Anton', sans-serif;
   color:  #db2222; 
   font-weight: 900;
   text-shadow: 3px 3px 3px rgb(252, 247, 247);
}
	
h1{
   font-family: 'Satisfy', cursive;
}

