body {
    background-image: url(../../Images/dashback1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.info-container {
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
   
}

.restaurant-name{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color:rgb(107, 13, 13);
}
.name-info {
    
    border-radius:10px;
    width: 70%;
    height: 50px;
    margin-left: 15%;
    margin-bottom:-25px;
}

.container-div{
    background-color:  rgba(250, 248, 248, .6);
    width:50%;
    border-radius: 10px;
    margin-left:24.5%;
    height:630px;
    padding-top:2px;
}

.restaurant-info{
    font-size:20px;
    color:black;
    /* margin-left: 30px; */
    text-align: center;
}

a {
    color: rgb(107, 13, 13);
}
a:hover{
    color: rgb(107, 13, 13);
}