.background {
    background-image: url(../../Images/dashback1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.info-container {
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
    border: 6px solid white;
    height:20vh ;
    width: 600px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    background: rgba(238, 192, 192, 0.767);
    padding: 20px;
    max-width: 85vw;
    background-size: cover;
   background-position: center;
  

}

.restaurant-name{
    max-width: 85vw;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color:rgb(107, 13, 13);
}
.name-info {
    
    border-radius:10px;
    width: 70%;
    height: 50px;
    margin-left: 15%;
    margin-bottom:-25px;
}

.container-div{
   
    width:50%;
    border-radius: 10px;
    margin-left:24.5%;
    height:630px;
    padding-top:2px;
}

.restaurant-info{
    font-size:20px;
    color:black;
  
    text-align: center;
}

.restaurant-matches{
    font-size:50px;
    color:black;
    margin-top: 8%;
    text-align: center;
}

a {
    color: rgb(107, 13, 13);
}
a:hover{
    color: rgb(107, 13, 13);
}

/*.buttons {
    margin: 20px;
    display: flex;
  }

  .buttons button {
    flex-shrink: 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: #9198e5;
    transition: 200ms;
    margin: 0 10px;
    font-weight: bolder;
    width: 160px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
  }
  
  .buttons button:hover {
    transform: scale(1.05);
  }*/