.card {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 6px solid white;
  height: 400px;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  background: rgba(238, 192, 192, 0.658);
 

}

.logo {
  width:200px;
  height:250px;
  position: absolute;
  left: 25%;
  top:4%;
  
}

.text{
  color:rgb(172, 8, 8);
  position:absolute;
  top:70%;
  left: 12%;
}
