body {
    background-image: url(../../Images/homePageBack.png);
}

h1 {
    font-family:'Sansita Swashed', cursive;
    color: maroon;
    text-align: center;
    font-size: 38px;
}

h2{
    padding-top: 190px;
    font-family: 'Sansita Swashed', cursive;
    text-shadow: 2px 2px #6b3838;
}
p {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: maroon;
 text-align: center;
}

