body {
    background-image: url(../../Images/homePageBack.png);
}

h1 {
    font-family:'Josefin Sans', sans-serif;
    color: maroon;
}

p {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: maroon;
}