body {
    background-image: url(../../Images/homePageBack.png);
}

h1 {
    font-family:'Josefin Sans', sans-serif;
    color: maroon;
    text-align: center;
    font-size: 38px;
}

h2{
    font-family: 'Sansita Swashed', cursive;
}
p {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: maroon;
 text-align: center;
}

