
form {
    margin-top:20px;
    width: 55%;
    margin-left:23%;
  
}

button {
    border-radius: 12px;
    background-color: #bd1f1f;
    border-color: #bd1f1f;
    height: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: none;
    outline:none!important;
}

button:hover{
    height:45px;
    width: 105px;

}



