
.formContainer{
    width: 50%;
    margin:auto;
}
.formImage{
    margin:auto;
    display:block;
    margin-bottom: 5%;
    margin-top: 5%;
}

h3 {
    margin-left: 25%;
    font-family: 'Sansita Swashed', cursive;;
}

.login-btn {
    margin-bottom:40px;
}

